<h2 class="ui center aligned icon header">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <i class="fa fa-send-o header-icon" style="color: rgb(237, 72, 126); font-size: 40px; box-sizing: content-box; line-height: 72px; text-align: center; width: 72px; height: 72px; display: block; overflow: hidden; border-radius: 50%; background-color: rgb(224, 231, 237); margin: auto;"></i>
  <%= content %>
</h2>