@import 'semantic-ui';

.chatbox {
  height: 450px;
}

.dropdown-links a {
  color: black !important;
}

#messages {
  height: 15em;
  overflow: auto;
}

.message-entry {
  font-size: 1.5em;
}

#menu {
  border-radius: 0;
}