<div class="ui small menu inverted">
  <%= link_to "Message me", root_path, class: "active item" %>
  <a class="item">
    <%= current_user.username unless current_user.nil? %>
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
        <% if logged_in? %>
        <li class="item dropdown-links"><%= link_to "Log out", login_path, method: :delete %></li>
        <% else %>
        <li class="item dropdown-links"><%= link_to "Log in", login_path %></li>
        <% end %>
      </div>
    </div>
    <% unless logged_in? %>
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
    <% end %>
  </div>
</div>